@charset "utf-8";

.box{
    width: 680px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.season-box{
    width: 330px;
    height: 214px;
    border-radius: 5px;
    display: block;
    margin: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: scale 2s;
}

.season-box:hover{
    scale: 1.25;
}

.winter{
    background-image: url(images/winter.jpg);
}

.spring{
    background-image: url(images/spring.jpg)
}

.summer{
    background-image: url(images/summer.jpg);
}

.fall{
    background-image: url(images/fall.jpg)
}

